{{#if controlWrapper}}
    <div {{bind-attr class=controlWrapper}}>
        {{view controlView viewName=controlViewName property=propertyName}}
    </div>
{{else}}
    {{view controlView viewName=controlViewName property=propertyName}}
{{/if}}
