<h1>Overview</h1>

<p>
    <i>Ember Forms</i> makes form building much easier by providing facilities such:
    <i>Layout, Validations & styling</i> much easier.
</p>

<p>
    For getting started & installation steps, please visit {{#link-to 'getstarted'}}Getting Started{{/link-to}}
</p>
<p>
    To see controls in action, visit {{#link-to 'controls'}}Controls{{/link-to}}
</p>