<h1>5 Minutes Example</h1>

<p>Here's a quick sample how it works:</p>
<h3>Given the following controller:</h3>
<div class="well line-example">
    <pre><code class="coffeescript">
        MyController = Em.Controller.extend
            actions:
                submit:
                    alert "Submitted!"
    </code></pre>
</div>


<h3>And the following model:</h3>
<div class="well line-example">
    <pre><code class="coffeescript">
        User = DS.Model
            firstName: DS.attr 'string'
            lastName: DS.attr 'string'

        User.reopen
            validations:
                firstName:
                    presence: true
                    length: { minimum: 5 }
                lastName:
                    presence: true
                    length: { minimum: 10 }
    </code></pre>
</div>

<i>Note: for validation support you need: https://github.com/dockyard/ember-validations project</i>

<h3>With this template:</h3>
<div class="well line-example">
    <pre><code class="coffeescript">
    \{{#em-form model=model}}
        \{{em-input property="firstName" label="First Name" placeholder="Please enter first name."}}
        \{{em-input property="lastName" label="Last Name" placeholder="Please enter last name."}}
    \{{/em-form}}
    </code></pre>
</div>

<h3>The result would be:</h3>

<a href="http://jsbin.com/pexolude/2" target="_blank" class="btn btn-warning jsbin pull-right">jsBin</a>
<div class="well line-example">
    {{#em-form model=model}}
        {{em-input property="firstName" label="First Name" placeholder="Please enter first name."}}
        {{em-input property="lastName" label="Last Name" placeholder="Please enter last name."}}
    {{/em-form}}
</div>