<h1>Getting Started</h1>

<h2>With Ember-Cli</h2>
<ol>
    <li>
        <p>Installing via <i>bower</i>:</p>
        <pre><code class="bash">bower install --save ember-forms</code></pre>
    </li>
    <li>
        <p>Include the forms in Brocfile.js</p>
        <pre><code class="javascript">app.import('bower_components/ember-forms/dist/globals/main.js');</code></pre>
    </li>
    <li>
        <p>Include Bootstrap for styling (recommended, otherwise you need to supply your own css classes)</p>
        <pre><code class="html">&lt;link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"&gt;</code></pre>
    </li>
    <li>
        <p>Support validations (Recommended)</p>
        <pre><code class="bash">npm install --save-dev ember-validations</code></pre>
    </li>
</ol>

An Ember-Cli component will be available soon.


<h2>Without Ember-Cli</h2>
<ol>
    <li>
        <p>Installing via <i>bower</i> is the simplest form:</p>
        <pre><code class="bash">bower install --save ember-forms</code></pre>
    </li>
    <li>
        <p>Include Bootstrap for styling (recommended, otherwise you need to supply your own css classes)</p>
        <pre><code class="html">&lt;link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"&gt;</code></pre>
    </li>
    <li>
        <p>Include Ember Forms</p>
        <pre><code class="html">&lt;script src="bower_components/ember-forms/dist/globals/main.js"&gt;</script></code></pre>
    </li>
</ol>

<p>Of course you need jquery, ember.js and handlebars included in your project too.</p>
<p>For validations support, you need <a href="https://github.com/dockyard/ember-validations">Ember Validations</a></p>


<p>Want to see some code? check out the {{#link-to 'quickexample'}}5 Minutes Example{{/link-to}}</p>