<h1>Getting Started</h1>

<i>Ember Forms</i> is an Ember CLI module and can be simply installed by:

<ol>
    <li>
        <pre><code class="bash">npm install --save-dev ember-idx-forms</code></pre>
    </li>
</ol>

<p>Want to see some code? check out the {{#link-to 'quickexample'}}5 Minutes Example{{/link-to}}</p>