<div class="well sidebar">
    <ul class="nav">
        {{#each model}}
            <li>{{#link-to route}}{{text}}{{/link-to}}</li>
            <ul class="nav">
            {{#each this.items}}
                <li>{{#link-to route}}{{text}}{{/link-to}}</li>
            {{/each}}
            </ul>
        {{/each}}
    </ul>
</div>